<a href="https://colab.research.google.com/github/Ibinmbiju/Recap/blob/main/Copy_of_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Following 2 files are LateX files

**a)**
w.r.t w1

\documentclass[12pt]{article}
\begin{document}
function:
\[
  f = \mathrm{sum}((w1\cdot \mathrm{vector}(1)+w2\cdot x-y)^{2})
\]

gradient:
\[
  \frac{\partial f}{\partial w1} = 2\cdot \mathrm{sum}(w1\cdot \mathrm{vector}(1)+w2\cdot x-y)
\]
where
\begin{itemize}
  \item $w1$ is a scalar
  \item $w2$ is a scalar
  \item $x$ is a vector
  \item $y$ is a vector
\end{itemize}
\end{document}

b)w.r.t w2

\documentclass[12pt]{article}
\begin{document}
function:
\[
  f = \mathrm{sum}((w1\cdot \mathrm{vector}(1)+w2\cdot x-y)^{2})
\]

gradient:
\[
  \frac{\partial f}{\partial w2} = 2\cdot (w1\cdot \mathrm{vector}(1)+w2\cdot x-y)^\top \cdot x
\]
where
\begin{itemize}
  \item $w1$ is a scalar
  \item $w2$ is a scalar
  \item $x$ is a vector
  \item $y$ is a vector
\end{itemize}
\end{document}

# **Exercise 2**


**a)**
The purpose of Automatic Differentiation is to compute derivatives efficiently by operating directly on programs rather than mathematical expressions, leveraging intermediate variables and handling control flow.

**Differences and issues resolved:**

Numerical differentiation issues: Suffers from truncation/rounding errors and requires O(n) evaluations for n-dimensional gradients, making it inefficient for high-dimensional problems.
Symbolic differentiation issues: Suffers from "expression swell" where derivatives become exponentially longer than original functions, and has difficulty handling control flow structures.
Automatic Differentiation resolves these by providing exact computation (like symbolic) while avoiding expression swell and efficiently handling control flow.

**b)**
**Forward mode:** Computes one column of the Jacobian per pass. Efficient when there are few inputs and many outputs (n << m).
Reverse mode: Computes one row of the Jacobian per pass. Efficient when there are many inputs and few outputs (particularly useful for neural networks with many parameters and scalar loss functions).

**c)**
Forward mode requires one pass per input dimension
Reverse mode requires just one pass regardless of input dimensions
For gradients of functions with many inputs and few outputs, reverse mode is more efficient
d)
In reverse mode Automatic Differentiation, memory consumption can become a bottleneck because the system needs to store all intermediate values from the forward pass to compute derivatives during the reverse pass.

Checkpointing strategies helps by:

Storing values only at selected checkpoints rather than all intermediate values
Recomputing intermediate values as needed by running forward passes from checkpoints
Trading increased computation time for reduced memory usage
A practical example

Checkpointing in recurrent neural networks reduced memory usage by 95% while only increasing computation time by 33%, enabling training of much larger models that would otherwise exceed GPU memory limits.

## Exercise 3

#### a)

1. First, we need to calculate the Pearson correlation between user C and all other users. For this, we'll look at items rated by both users.  
2. Calculating similarity between C and each user:


> For C and A:  
Common items: a, c, d, g, h  
C: [2, 1, 3, 5, 3]  
A: [4, -, 5, 3, 2]  
This will give us a Pearson correlation value
$$Σ((C-avgC)(A-avgA)) / sqrt(Σ(C-avgC)²×Σ(A-avgA)²)$$
Average C = 2.8  
Average A = 3.5
$$Correlation(C,A) = -1.5/sqrt(8.8 × 5) = -1.5/sqrt(44) = -0.226$$

> For C and B:  
Common items: c, d, f, g  
C: [1, 3, 4, 5]  
B: [4, 3, 2, 1]  
Average C = 3.25  
Average B = 2.5
$$Correlation(C,B) = -6.5/sqrt(8.75 × 5) = -6.5/sqrt(43.75) = -0.982$$

>For C and D:  
Common items: a, c, d, f, g, h  
C: [2, 1, 3, 4, 5, 3]  
D: [1, 1, -, -, 4, 2]  
Average C = 3  
Average D = 2
$$Correlation(C,D) = 1/sqrt(2 × 0.6667) = 1/sqrt(1.3334) = 0.866$$

rCe = (0.866 × 4 + (-0.226 × 1)) / (|0.866| + |-0.226|)
= (3.464 - 0.226) / 1.092
= 3.238 / 1.092
= 2.966

rCe ≈ 3.0 using User-User CF

#  **Exercise 4**

c)  We can improve performance by:

*   Decreasing Learning Rate : Instead of using a constant alpha , we can decrease it linearly or exponentially


`

# **Exercise 5**

Part (a):



*   **join()** : Joins two RDDs based on a common key.

     Example: If RDD1 = [(1, "Ibin"), (2, "Colin")] and RDD2 = [(1, "Alex"), (2, "Martin")], the result of join() would be [(1, ("Ibin", "Alex")),   (2,   ("Colin", "Martin"))].
*   **sortBy()** : Sorts an RDD by a given key or transformation.

     Example: For an RDD of numbers like [4, 1, 3, 2], sortBy with identity function would return [1, 2, 3, 4].
   

*  **groupBy()** : Groups elements in an RDD by a specified function, returning a list of values for each key.

     Example: Given an RDD of pairs [(1, "a"), (1, "b"), (2, "c")], groupBy on the first element would produce [(1, ["a", "b"]), (2, ["c"])].

Part(b)

*   Transformations:

                   union(otherDataset)	Return a new dataset that contains the union of the elements in the source dataset and the argument.
                   distinct() – Remove duplicate elements.
                   reduceByKey() – Aggregate values by key.



*   Actions
            take(n) – Retrieve the first n elements from the RDD.
            first()	Return the first element of the dataset (similar to take(1)).
            count() – Count the number of elements.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType


spark = SparkSession.builder.appName("RDDTransformations").getOrCreate()

# Define the schema for the data
schema = StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True)
])

# Create RDDs
data1 = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]
data2 = [("David", 40), ("Eve", 28), ("Alice", 25)]

rdd1 = spark.sparkContext.parallelize(data1)
rdd2 = spark.sparkContext.parallelize(data2)

# Transformations
# 1. Union
rdd_union = rdd1.union(rdd2)

# 2. Distinct
rdd_distinct = rdd_union.distinct()

# 3. Reduce by Key (Assuming key is the name)
rdd_reduced = rdd_distinct.reduceByKey(lambda x, y: x)

# Actions
# 1. Take 3 elements
print("First 3 elements:")
print(rdd_reduced.take(3))

# 2. First element
print("\nFirst element:")
print(rdd_reduced.first())

# 3. Count elements
print("\nCount of elements:")
print(rdd_reduced.count())

# Stop the SparkSession
spark.stop()

First 3 elements:
[('Bob', 30), ('Charlie', 35), ('David', 40)]

First element:
('Bob', 30)

Count of elements:
5

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

spark = SparkSession.builder.appName("RDD_to_DataFrame").getOrCreate()

In [ ]:
pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /usr/local/lib/python3.10/dist-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2024.8.30)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)

# **Exercise 6**

**a)**

In [ ]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
adult = fetch_ucirepo(id=2)


adult_df = spark.createDataFrame(adult.data.features)

adult_df.head()

# Choosing only required columns
adult_df_cleaned=adult_df.select('education','education-num','marital-status','sex','capital-gain','capital-loss','hours-per-week','native-country')
adult_df_cleaned.show()

+------------+-------------+--------------------+------+------------+------------+--------------+--------------+
|   education|education-num|      marital-status|   sex|capital-gain|capital-loss|hours-per-week|native-country|
+------------+-------------+--------------------+------+------------+------------+--------------+--------------+
|   Bachelors|           13|       Never-married|  Male|        2174|           0|            40| United-States|
|   Bachelors|           13|  Married-civ-spouse|  Male|           0|           0|            13| United-States|
|     HS-grad|            9|            Divorced|  Male|           0|           0|            40| United-States|
|        11th|            7|  Married-civ-spouse|  Male|           0|           0|            40| United-States|
|   Bachelors|           13|  Married-civ-spouse|Female|           0|           0|            40|          Cuba|
|     Masters|           14|  Married-civ-spouse|Female|           0|           0|            40| United-States|
|         9th|            5|Married-spouse-ab...|Female|           0|           0|            16|       Jamaica|
|     HS-grad|            9|  Married-civ-spouse|  Male|           0|           0|            45| United-States|
|     Masters|           14|       Never-married|Female|       14084|           0|            50| United-States|
|   Bachelors|           13|  Married-civ-spouse|  Male|        5178|           0|            40| United-States|
|Some-college|           10|  Married-civ-spouse|  Male|           0|           0|            80| United-States|
|   Bachelors|           13|  Married-civ-spouse|  Male|           0|           0|            40|         India|
|   Bachelors|           13|       Never-married|Female|           0|           0|            30| United-States|
|  Assoc-acdm|           12|       Never-married|  Male|           0|           0|            50| United-States|
|   Assoc-voc|           11|  Married-civ-spouse|  Male|           0|           0|            40|             ?|
|     7th-8th|            4|  Married-civ-spouse|  Male|           0|           0|            45|        Mexico|
|     HS-grad|            9|       Never-married|  Male|           0|           0|            35| United-States|
|     HS-grad|            9|       Never-married|  Male|           0|           0|            40| United-States|
|        11th|            7|  Married-civ-spouse|  Male|           0|           0|            50| United-States|
|     Masters|           14|            Divorced|Female|           0|           0|            45| United-States|
+------------+-------------+--------------------+------+------------+------------+--------------+--------------+
only showing top 20 rows

**b)**

In [ ]:
from pyspark.sql.functions import when, col, mean, desc, round,count, avg,max,min

In [ ]:
df_result = adult_df_cleaned.groupBy("marital-status").agg(
    round(count(when(col("sex") == "Male", 1)) / count("*"),2).alias("male_ratio")
)
df_result.show()

+--------------------+----------+
|      marital-status|male_ratio|
+--------------------+----------+
|           Separated|      0.39|
|       Never-married|      0.55|
|Married-spouse-ab...|      0.52|
|            Divorced|       0.4|
|             Widowed|      0.19|
|   Married-AF-spouse|      0.32|
|  Married-civ-spouse|      0.89|
+--------------------+----------+

**c)**

In [ ]:
df_result_average_income = adult_df_cleaned.filter((col("sex") == "Female") & (col("capital-gain") >=50000)).groupBy("native-country").agg(
    avg("hours-per-week").alias("Average hours per week")
)
df_result_average_income.show()

+------------------+----------------------+
|    native-country|Average hours per week|
+------------------+----------------------+
|            Canada|                  57.0|
|     United-States|              40.96875|
|Dominican-Republic|                  40.0|
|                 ?|                  32.5|
+------------------+----------------------+

**d)**

In [ ]:
education_dict = adult_df_cleaned.select("education-num", "education").distinct().rdd.collectAsMap()

# Define a function to compute the highest and lowest education levels for a given DataFrame
def get_education_levels(df, group_name):

    education_levels = df.agg(
        max(col("education-num")).alias("highest_education_num"),
        min(col("education-num")).alias("lowest_education_num")
    ).collect()[0]

    highest_education = education_dict[education_levels["highest_education_num"]]
    lowest_education = education_dict[education_levels["lowest_education_num"]]

    return {
        "Group": group_name,
        "Highest Education": highest_education,
        "Lowest Education": lowest_education
    }

income_group_1 = adult_df_cleaned.filter(col('capital-gain') <= 50000)
income_group_2 = adult_df_cleaned.filter(col('capital-gain') > 50000)

result_group_1 = get_education_levels(income_group_1, "Income <= 50000")
result_group_2 = get_education_levels(income_group_2, "Income >  50000")

result_table = [result_group_1, result_group_2]

result_df = spark.createDataFrame(result_table)
result_df.show()

+---------------+-----------------+----------------+
|          Group|Highest Education|Lowest Education|
+---------------+-----------------+----------------+
|Income <= 50000|        Doctorate|       Preschool|
|Income >  50000|        Doctorate|         5th-6th|
+---------------+-----------------+----------------+